<section class="w-full h-[1300px] flex  items-center justify-around bg-gradient-to-r from-[#0973EE] to-[#0A54A0] md:h-screen">
    <div class="w-[95%] h-[95%] flex justify-around flex-col md:justify-around items-center">
        <div class="w-full h-[5%]  md:h-[20%] flex justify-center items-center">
            <h1 class="text-white text-4xl font-miFuente md:text-8xl"><strong>¿Por qué Digital-Intech?</strong></h1>
        </div>
        <div class="flex w-full h-[85%] md:h-[70%] bg-white border-4 border-primary p-6 rounded-lg shadow-[0_0_20px_4px] shadow-primary">
            <div class="p-6 grid grid-cols-1 md:grid-cols-2 gap-6 text-center">
                <!-- Innovación Tecnológica -->
                <div class="bg-white shadow-lg p-6 rounded-lg">
                  <h2 class="text-2xl font-bold text-blue-600">Tecnologías de Punta</h2>
                  <p class="mt-4 text-gray-600">
                    Usamos las tecnologías más avanzadas como <strong>Next.js</strong>, <strong>Redux</strong>, 
                    <strong>Node.js</strong> y <strong>MySQL</strong> para ofrecer soluciones escalables.
                  </p>
                </div>
              
                <!-- Consultoría Zoho -->
                <div class="bg-white shadow-lg p-6 rounded-lg">
                  <h2 class="text-2xl font-bold text-green-600">Automatización con Zoho</h2>
                  <p class="mt-4 text-gray-600">
                    Optimizamos y automatizamos tus procesos empresariales mediante <strong>Zoho</strong>, 
                    ayudándote a ahorrar tiempo y costos.
                  </p>
                </div>
              
                <!-- Equipo Experto -->
                <div class="bg-white shadow-lg p-6 rounded-lg">
                  <h2 class="text-2xl font-bold text-indigo-600">Equipo Profesional</h2>
                  <p class="mt-4 text-gray-600">
                    Nuestro equipo de expertos en TI está listo para resolver tus desafíos con pasión 
                    y compromiso.
                  </p>
                </div>
              
                <!-- Testimonios -->
                <div class="bg-white shadow-lg p-6 rounded-lg">
                  <h2 class="text-2xl font-bold text-pink-600">Testimonios de Éxito</h2>
                  <p class="mt-4 text-gray-600">
                    "Gracias a Digital-Intech, automatizamos nuestras operaciones y aumentamos nuestra 
                    eficiencia un 30%."
                  </p>
                </div>
              </div>
        </div>
    </div>
</section>