---
---
<header class="w-full h-20 flex items-center justify-betwee  flex-row bg-gray-100">
    <div class="w-40 h-full flex justify-center items-center">
        <svg class="flex items-center justify-center" width="60" height="46" viewBox="0 0 60 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M59.2425 45.5291H31.6263V40.4979H42.6487V5.02911H31.6186L31.6263 0.0291138H59.2425V5.02911H48.5862V40.4979H59.2425V45.5291Z" fill="#0973EE"/>
            <path d="M31.6263 0.0291138V22.7791V45.5291H21.0247C19.2539 45.5083 17.5872 45.3208 16.0247 44.9666C14.4414 44.6333 12.983 44.1541 11.6497 43.5291C9.79552 42.6749 8.16011 41.5499 6.74344 40.1541C5.30594 38.7791 4.16011 37.1854 3.30594 35.3729C2.53511 33.8312 1.95177 32.1437 1.55594 30.3104C1.13927 28.477 0.920521 26.5187 0.899689 24.4354V21.0916C0.899689 19.0916 1.09761 17.1958 1.49344 15.4041C1.86844 13.6124 2.42052 11.9666 3.14969 10.4666C3.89969 8.90411 4.84761 7.48745 5.99344 6.21661C7.13927 4.94578 8.42052 3.86245 9.83719 2.96661C11.3372 2.02911 13.0351 1.31036 14.9309 0.810364C16.8059 0.310364 18.8372 0.0499458 21.0247 0.0291138H31.6263ZM25.6809 40.7791V22.7635V4.74786H21.0247C19.358 4.7687 17.8476 4.97703 16.4934 5.37286C15.1184 5.7687 13.8997 6.3312 12.8372 7.06036C11.7122 7.81036 10.7434 8.72703 9.93094 9.81036C9.09761 10.9145 8.44136 12.1437 7.96219 13.4979C7.54552 14.602 7.23302 15.7895 7.02469 17.0604C6.81636 18.352 6.70177 19.6958 6.68094 21.0916V24.4979C6.70177 25.9145 6.82677 27.2687 7.05594 28.5604C7.26427 29.8729 7.58719 31.0916 8.02469 32.2166C8.58719 33.6749 9.34761 34.9874 10.3059 36.1541C11.2434 37.3416 12.3997 38.2999 13.7747 39.0291C14.7539 39.5708 15.8476 39.9874 17.0559 40.2791C18.2643 40.5916 19.5872 40.7583 21.0247 40.7791H25.6809Z" fill="#0A54A0"/>
            </svg>
    </div>
    <nav class="flex items-center justify-around w-72 h-full flex-row">
        <ul class="flex justify-between w-full">
            <li class="flex font-robo text-lg text-black hover:text-white hover:bg-primary rounded-md p-4"><a href="#">Home</a></li>
            <li class="flex font-robo text-lg text-black hover:text-white hover:bg-primary rounded-md p-4"><a href="../pages/About.astro">About</a></li>
            <li class="flex font-robo text-lg text-black hover:text-white hover:bg-primary rounded-md p-4"><a href="#">Services</a></li>
        </ul>
    </nav>
</header>