<section class="flex justify-center flex-col w-full h-screen bg-gray-100">
    <div class="flex flex-col items-center justify-around sm:justify-around h-[60%] w-full md:flex-row xl:flex-row">
        <div class="flex flex-col sm:h-[70%] h-[60%] sm:w-[40%] w-[70%] sm:justify-center justify-between">
            <div class="flex h-[20%]  items-center justify-center font-miFuente sm:text-7xl text-4xl w-full sm:h-[20%]">
                <h1 class="felx justify-center items-center w-full">Digital-Intech</h1>
            </div>
            <div class="flex justify-center text-sm items-center h-[40%] w-full sm:h-[30%] font-robo">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quam culpa in dolor laborum cumque mollitia laudantium, qui
                    excepturi delectus dolorum maiores officiis laboriosam
                    deleniti? Non incidunt odit exercitationem sit alias.
                </p>
            </div>
            <div
                class="flex flex-row items-center w-full h-[20%] sm:h-[30%] justify-around font-robo"
            >
                <button
                    class="bg-primary text-white items-center py-3 px-7 hover:bg-secundary rounded-md"
                    >Hola</button
                >
                <button
                    class="bg-primary text-white items-center py-3 px-7 hover:bg-secundary rounded-md"
                    >Hola</button
                >
            </div>
        </div>
        <div class="flex w-[40%] h-[30%] justify-start sm:justify-center items-centere sm:w-[40%] sm:h-[60%] ">
            <svg
                class="flex w-full h-full"
                width="80"
                height="66"
                viewBox="0 0 60 46"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M59.2425 45.5291H31.6263V40.4979H42.6487V5.02911H31.6186L31.6263 0.0291138H59.2425V5.02911H48.5862V40.4979H59.2425V45.5291Z"
                    fill="#0973EE"></path>
                <path
                    d="M31.6263 0.0291138V22.7791V45.5291H21.0247C19.2539 45.5083 17.5872 45.3208 16.0247 44.9666C14.4414 44.6333 12.983 44.1541 11.6497 43.5291C9.79552 42.6749 8.16011 41.5499 6.74344 40.1541C5.30594 38.7791 4.16011 37.1854 3.30594 35.3729C2.53511 33.8312 1.95177 32.1437 1.55594 30.3104C1.13927 28.477 0.920521 26.5187 0.899689 24.4354V21.0916C0.899689 19.0916 1.09761 17.1958 1.49344 15.4041C1.86844 13.6124 2.42052 11.9666 3.14969 10.4666C3.89969 8.90411 4.84761 7.48745 5.99344 6.21661C7.13927 4.94578 8.42052 3.86245 9.83719 2.96661C11.3372 2.02911 13.0351 1.31036 14.9309 0.810364C16.8059 0.310364 18.8372 0.0499458 21.0247 0.0291138H31.6263ZM25.6809 40.7791V22.7635V4.74786H21.0247C19.358 4.7687 17.8476 4.97703 16.4934 5.37286C15.1184 5.7687 13.8997 6.3312 12.8372 7.06036C11.7122 7.81036 10.7434 8.72703 9.93094 9.81036C9.09761 10.9145 8.44136 12.1437 7.96219 13.4979C7.54552 14.602 7.23302 15.7895 7.02469 17.0604C6.81636 18.352 6.70177 19.6958 6.68094 21.0916V24.4979C6.70177 25.9145 6.82677 27.2687 7.05594 28.5604C7.26427 29.8729 7.58719 31.0916 8.02469 32.2166C8.58719 33.6749 9.34761 34.9874 10.3059 36.1541C11.2434 37.3416 12.3997 38.2999 13.7747 39.0291C14.7539 39.5708 15.8476 39.9874 17.0559 40.2791C18.2643 40.5916 19.5872 40.7583 21.0247 40.7791H25.6809Z"
                    fill="#0A54A0"></path>
            </svg>
        </div>
    </div>
    <div class="flex flex-col justify-center sm:flex-row w-ful h-[35%] sm:h-[20%] sm:justify-around items-center">
        <div class="flex justify-center h-[90%] w-[30%] items-center sm:w-[10%] sm:h-[90%]">
            <svg
                role="img"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                fill="#0A54A0"
                ><title class="text-secundary">Zoho</title><path
                    d="M8.66 6.897a1.299 1.299 0 0 0-1.205.765l-.642 1.44-.062-.385A1.291 1.291 0 0 0 5.27 7.648l-4.185.678A1.291 1.291 0 0 0 .016 9.807l.678 4.18a1.293 1.293 0 0 0 1.27 1.087c.074 0 .143-.01.216-.017l4.18-.678c.436-.07.784-.351.96-.723l2.933 1.307a1.304 1.304 0 0 0 .988.026c.321-.12.575-.365.716-.678l.28-.629.038.276a1.297 1.297 0 0 0 1.455 1.103l3.712-.501a1.29 1.29 0 0 0 1.03.514h4.236c.713 0 1.29-.58 1.291-1.291V9.545c0-.712-.58-1.291-1.291-1.291h-4.236c-.079 0-.155.008-.23.022a1.309 1.309 0 0 0-.275-.288c-.275-.21-.614-.3-.958-.253l-4.197.571c-.155.021-.3.07-.432.14L9.159 7.01a1.27 1.27 0 0 0-.499-.113zm-.025.705c.077 0 .159.013.24.052l2.971 1.324c-.128.238-.18.508-.142.782l.357 2.596h.002l-.745 1.672a.59.59 0 0 1-.777.296l-3.107-1.385-.004-.041-.41-2.526L8.1 7.95a.589.589 0 0 1 .536-.348zm-3.159.733c.125 0 .245.039.343.112.13.09.21.227.237.382l.234 1.446-.56 1.259a1.27 1.27 0 0 0-.026.987c.12.322.364.575.678.717l.295.131a.585.585 0 0 1-.428.314l-4.185.678a.59.59 0 0 1-.674-.485l-.678-4.18a.588.588 0 0 1 .485-.674l4.185-.678c.03-.004.064-.01.094-.01zm11.705.09a.59.59 0 0 1 .415.173 1.287 1.287 0 0 0-.416.947v4.237c0 .033.003.065.005.097l-3.55.482a.586.586 0 0 1-.66-.502l-.191-1.403.899-2.017a1.29 1.29 0 0 0-.333-1.5l3.754-.51c.026-.004.051-.004.077-.004zm1.3.532h4.227c.326 0 .588.266.588.588v4.237a.589.589 0 0 1-.588.588h-4.237a.564.564 0 0 1-.12-.013c.47-.246.758-.765.684-1.318zm-5.988.309.254.113c.296.133.43.48.296.777l-.432.97-.207-1.465a.58.58 0 0 1 .09-.395zm5.39.538.453 3.325a.583.583 0 0 1-.453.65zM6.496 11.545l.17 1.052a.588.588 0 0 1-.293-.776zm3.985 4.344a.588.588 0 0 0-.612.603c0 .358.244.61.601.61a.582.582 0 0 0 .607-.608c0-.35-.242-.605-.596-.605zm5.545 0a.588.588 0 0 0-.612.603c0 .358.245.61.602.61a.582.582 0 0 0 .606-.608c0-.35-.24-.605-.596-.605zm-8.537.018a.047.047 0 0 0-.048.047v.085c0 .026.021.047.048.047h.52l-.623.9a.052.052 0 0 0-.009.027v.027c0 .026.021.047.048.047h.815a.047.047 0 0 0 .047-.047v-.085a.047.047 0 0 0-.047-.047h-.55l.606-.9a.05.05 0 0 0 .008-.026v-.028a.047.047 0 0 0-.047-.047zm5.303 0a.047.047 0 0 0-.047.047v1.086c0 .026.02.047.047.047h.135a.047.047 0 0 0 .047-.047v-.454h.545v.454c0 .026.02.047.047.047h.134a.047.047 0 0 0 .047-.047v-1.086a.047.047 0 0 0-.047-.047h-.134a.047.047 0 0 0-.047.047v.453h-.545v-.453a.047.047 0 0 0-.047-.047zm-2.324.164c.25 0 .372.194.372.425 0 .219-.109.425-.358.426-.242 0-.375-.197-.375-.419 0-.235.108-.432.36-.432zm5.545 0c.25 0 .372.194.372.425 0 .219-.108.425-.358.426-.242 0-.374-.197-.374-.419 0-.235.108-.432.36-.432z"
                ></path></svg
            >
        </div>
        <div class="flex justify-start sm:justify-center  items-center w-[25%] h-[30%] sm:w-[10%] sm:h-[90%]">
            <svg
                width="160"
                height="80"
                viewBox="0 0 160 80"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M80 5C80 2.23858 82.2386 0 85 0H155C157.761 0 160 2.23858 160 5V75C160 77.7614 157.761 80 155 80H85C82.2386 80 80 77.7614 80 75V5Z"
                    fill="#0973EE"></path>
                <path
                    d="M116.678 32.6719H119.49V47.1006C119.49 48.7021 119.134 50.0352 118.421 51.0996C117.708 52.1641 116.761 52.9648 115.579 53.502C114.407 54.0293 113.133 54.293 111.756 54.293C110.311 54.293 109.002 54.0293 107.83 53.502C106.668 52.9648 105.745 52.1641 105.062 51.0996C104.388 50.0352 104.051 48.7021 104.051 47.1006V32.6719H106.849V47.1006C106.849 48.2139 107.054 49.1318 107.464 49.8545C107.874 50.5771 108.445 51.1143 109.178 51.4658C109.92 51.8174 110.779 51.9932 111.756 51.9932C112.742 51.9932 113.602 51.8174 114.334 51.4658C115.076 51.1143 115.652 50.5771 116.062 49.8545C116.473 49.1318 116.678 48.2139 116.678 47.1006V32.6719Z"
                    fill="white"></path>
                <path
                    d="M125.35 38.1504L128.821 43.9219L132.337 38.1504H135.516L130.33 45.9727L135.677 54H132.542L128.88 48.0527L125.218 54H122.068L127.4 45.9727L122.229 38.1504H125.35Z"
                    fill="white"></path>
                <path
                    d="M0 5C0 2.23858 2.23858 0 5 0H75C77.7614 0 80 2.23858 80 5V75C80 77.7614 77.7614 80 75 80H5C2.23858 80 0 77.7614 0 75V5Z"
                    fill="#0A54A0"></path>
                <path
                    d="M40.6777 32.6719H43.4902V47.1006C43.4902 48.7021 43.1338 50.0352 42.4209 51.0996C41.708 52.1641 40.7607 52.9648 39.5791 53.502C38.4072 54.0293 37.1328 54.293 35.7559 54.293C34.3105 54.293 33.002 54.0293 31.8301 53.502C30.668 52.9648 29.7451 52.1641 29.0615 51.0996C28.3877 50.0352 28.0508 48.7021 28.0508 47.1006V32.6719H30.8486V47.1006C30.8486 48.2139 31.0537 49.1318 31.4639 49.8545C31.874 50.5771 32.4453 51.1143 33.1777 51.4658C33.9199 51.8174 34.7793 51.9932 35.7559 51.9932C36.7422 51.9932 37.6016 51.8174 38.334 51.4658C39.0762 51.1143 39.6523 50.5771 40.0625 49.8545C40.4727 49.1318 40.6777 48.2139 40.6777 47.1006V32.6719Z"
                    fill="white"></path>
                <path
                    d="M50.9609 32.6719V54H48.1338V32.6719H50.9609Z"
                    fill="white"></path>
            </svg>
        </div>
        <div class="flex justify-center items-center w-[20%] h-[90%] sm:w-[7%] sm:h-[90%]">
            <svg
            role="img"
            viewBox="0 0 24 24"
            fill="#0973EE"
            xmlns="http://www.w3.org/2000/svg"
            ><title class="text-primary">Developer Service</title><path
                d="M9.456 18.7h1.258v-.865H9.456Zm2.115 0h1.286v-.865h-1.286ZM6.43 1.127.857 3.892v17.19l5.572 1.885Zm.857 5.47v11.238H8.57v.865H7.286v4.868a.434.434 0 0 1-.429.432.425.425 0 0 1-.136-.022L.292 21.804a.432.432 0 0 1-.292-.41V3.623c0-.164.093-.315.24-.388L6.668.045a.424.424 0 0 1 .415.02.433.433 0 0 1 .203.367v5.3H8.57v.865ZM13.714 18.7H15v-.865h-1.286Zm.028-12.103H15v-.864h-1.258Zm-2.143 0h1.258v-.864H11.6Zm-2.143 0h1.258v-.864H9.456Zm13.687-2.705L17.57 1.127v21.84l5.572-1.884ZM24 21.394c0 .186-.117.35-.292.41l-6.429 2.174a.425.425 0 0 1-.386-.06.434.434 0 0 1-.179-.35V18.7h-.829v-.865h.83V6.597h-.83v-.864h.83v-5.3c0-.15.076-.289.202-.368a.424.424 0 0 1 .415-.02l6.428 3.19c.147.073.24.224.24.388ZM13.257 9.346l-.8-.31-2.143 5.618.8.31Zm2.903 2.744a.434.434 0 0 0 0-.612L14.446 9.75l-.606.612 1.411 1.423-1.411 1.423.606.611Zm-6.606 1.728L7.84 12.09a.434.434 0 0 1 0-.612L9.554 9.75l.606.612-1.411 1.423 1.411 1.423Z"
            ></path></svg
        >
        </div>
    </div>
</section>
